@import "./variables.scss";
.dashboard-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: $lightgreen;
    > * {
        height: 100%;
    }
}

$sidebar-width: 320px;
$content-padding-y: 26px;
$content-padding-x: 67px;

$right-width: 540px;

.dashboard-sidebar {
    width: $sidebar-width;

    .leaf-container {
        width: 76px;
        #logo2 .cls-1 {
            fill: #562817 !important;
        }
        margin: 47px 38px;
        margin-bottom: 93px;
    }
    .sidebar-nav-wrapper {
        margin-left: 47px;
        width: 270px;

        &.bottom {
            margin-top: 360px;
        }
    }
    .item {
        display: flex;
        align-items: center;
        margin-bottom: 23px;
        cursor: pointer;
        user-select: none;
    }
    .icon {
        width: 34px;
        margin-right: 30px;
    }
    .text {
        height: 34px;
        font-family: Quattrocento Sans;
        font-size: 24px;
        color: $lightoffwhite;
        font-weight: bold;
        line-height: 34px;
    }
}

.dashboard-content {
    width: calc(100vw - #{$sidebar-width} - 2 * #{$content-padding-x} - #{$right-width});
    height: calc(100vh - 2 * #{$content-padding-y});
    padding: $content-padding-y $content-padding-x;
    background: $offwhite;
    border-radius: 30px 0 0 30px;
}

.dashboard-right {
    width: $right-width;
    background: $lightoffwhite;
    display: flex;
    flex-direction: column;
    align-items: center;

    #myProfile {
        font-weight: bold;
        font-size: 24px;
        position: relative;
        padding-bottom: 5%;
    }
    #backgroundOffset {
        width: 430px;
        height: 177.5px;
        border: none;
        border-radius: 11px;
        background-color: $offwhite;
        top: 7px;
        left: 7px;
        position: absolute;
    }
    p {
        color: $maroon;
        padding: 0;
        margin: 7px;
    }
    #userInfo {
        position: relative;
    }
    .userInfo-inner {
        width: 430px;
        height: 177.5px;
        border: 2px solid $darkgreen;
        border-radius: 11px;
        position: relative;
        z-index: 2;
    }
    #header {
        font-size: 24px;
        font-weight: bold;
        position: relative;
        left: 5%;
        padding-top: 2%;
    }
    #picAndAddress {
        display: flex;
        flex-direction: row;
    }
    #headerPic {
        width: 103.75px;
        height: 103.75px;
        border-radius: 11px;
        position: relative;
        left: 4%;
    }
    #address {
        position: relative;
        left: 3%;
        padding-top: 2%;
        font-size: 18px;
    }
    #pickUpAndSort {
        display: flex;
        flex-direction: row;
        padding-bottom: 5%;
        padding-top: 15%;
        align-items: center;
        justify-content: space-between;
    }
    #sortAndArrow {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #pickUpHeader {
        font-weight: bold;
        font-size: 24px;
        position: relative;
    }
    #sortHeader {
        font-weight: bold;
        font-size: 18px;
    }
    #scheduledPickups {
        position: relative;
    }
    .scheduledPickups-inner {
        width: 434.25px;
        height: 301.5px;
        border: 2px solid $darkgreen;
        border-radius: 11px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
    }
    .scheduleList {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 5%;
        top: 7%;
    }
    .circleAndScheduleTime {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
    .circle {
        border: 3px solid $maroon;
        border-radius: 50%;
        background: $offwhite;
        color: white;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 100px;
    }
    .scheduleTime {
        font-size: 18px;
    }

    #pickupsBackgroundOffset {
        width: 434.25px;
        height: 301.5px;
        border: none;
        border-radius: 11px;
        background-color: $offwhite;
        top: 7px;
        left: 7px;
        position: absolute;
    }
}

#nonProfitConnections {
    border-radius: 11px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    .scrollbar-container {
        width: 100%;
    }
}

#nonProfitConnectionTitle {
    position: relative;
    width: 100%;
    top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#connectPanelWrapper {
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    gap: 35px;
}

.nonProfitPanel {
    background-color: #9a9a9a;
    width: 100%;
    height: 147px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nonProfitPhoto {
    width: 124px;
    height: 124px;
    margin: 0;
    background-color: white;
    margin-left: 15px;
    border-radius: 10px;
}

.nonProfitInfo {
    position: relative;
    left: 2%;
    height: 90%;
    .title {
        font-weight: bold;
        font-size: 18px;
    }
}

.nonProfitStatus {
    position: absolute;
    right: 3%;
    text-align: end;
    .status-pill {
        display: inline;
        padding: 6px 13px;
        border-radius: 50px;
        font-size: 18px;
        font-weight: bold;
        color: $offwhite;
        &.progress {
            color: $maroon;
            background: $yelo;
        }
        &.accepting {
            background: $darkgreen;
        }
        &.closed {
            background: $lightmaroon;
        }
    }
    .phonenumber {
        margin-top: 50px;
    }
    .view-btn {
        cursor: pointer;
        margin: 37px -19px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $darkgreen;
        color: $offwhite;
        padding: 10px 20px;
        border-radius: 50px 0 0 50px;
        svg {
            margin-left: 14px;
        }
    }
}

.dashboard-card {
    box-shadow: $darkgreen 7px 7px;
    background: $lightoffwhite;
}

.d-home-searchbar {
    height: 40px;

    max-width: 430px;
}

.d-home-welcome {
    position: relative;
    $offset: 46px;

    .profile-image {
        position: absolute;
        border-radius: 100%;
        height: 250px;
        width: 250px;
        top: -80px;
        right: 85px;
    }

    .welcome-info {
        height: 161px;
        border-radius: 11px;
        margin-top: $offset;
        background: $lightoffwhite;
        display: flex;
        flex-direction: column;
        justify-content: center;
        > * {
            margin: 5px 21px;
        }
        .top {
            font-weight: black;
            font-size: 36px;
            font-family: Merriweather;
            color: $lightmaroon;

            .prefix {
                color: $maroon;
            }
        }
        .bottom {
            font-size: 18px;
            font-family: "Quattrocento Sans";
            color: $darkgreen;
        }
    }
}

.d-home-stats {
    margin-top: 64px;
    height: 163px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    > * {
        width: 100%;
    }

    .title {
        font-family: Quattrocento Sans;
        font-weight: bold;
        font-size: 24px;
        color: $maroon;
    }
    .card-wrapper {
        width: 100%;
        height: 116px;
    }
}
.d-home-stats .card-wrapper {
    font-family: Quattrocento Sans;
    display: flex;
    justify-content: space-between;
    .card-item {
        width: 216px;
        height: 100%;
        border-radius: 11px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        > * {
            width: 184px;
        }

        .title {
            font-size: 18px;
            font-weight: normal;
        }
        .value {
            font-weight: bold;
            font-size: 36px;
            text-align: center;
        }
        .percentage {
            font-size: 18px;
            span {
                color: #1c890a;
            }
        }
    }
}

.profileHeader {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 7%;
    padding-top: 5%;
    p {
        color: $maroon;
    }
    .icons {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .nameAndPic {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .name {
        font-size: 24px;
        font-weight: bold;
    }
    .pic {
        height: 55px;
        border-radius: 50%;
    }
}

.foodForThought {
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-size: 27px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #51251d;
}

.connections-banner {
    width: 100%;
    margin-bottom: 36px;
}
.connections-inner {
    height: 100% !important;
}


.connectRight{
    .status-pill {
        padding: 6px 13px;
        border-radius: 50px;
        font-size: 18px;
        font-weight: bold;
        color: $offwhite;
        cursor: pointer;
        text-align: center;
        &.pickup {
            background-color: $darkgreen;
            width: 130.7px;
        }
        &.cancel {
            background-color: $lightmaroon;
            width: 215px;
            margin-bottom: 3%;
        }
        &.accepting {
            display: inline-table;
            background: $darkgreen;
            position: absolute;
            right: 6%;
            top: 4%;
        }
        &.closed {
            display: inline-table;
            background: $lightmaroon;
            position: absolute;
            right: 10%;
            top: 4%;
        }
        &.progress {
            display: inline-table;
            color: $maroon;
            background: $yelo;
            position: absolute;
            right: 7%;
            top: 4%;
        }
    }

    p{
        color: $maroon;
        font-size: 18px;
        margin: 0;
    }
    #details{
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 5%;
    }

    #titleAndStatus{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 5%;
    }
    #title{
        font-weight: bold;
        font-size: 24px;
        width: 68%;
    }

    #connectAddress{
        width: 90%;
    }

    #connectInfo {
        position: relative;
    }
    #wrapper{
        position: relative;
        left: 7%;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    #hoursWrapper{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    #hoursTitle{
        font-weight: bold;
    }
    #available{
        font-weight: bold;
    }
    #searchAndCalender{
        position: relative;
    }
    #searchInput{
        background-color: var(--offwhite);
        border: 2px solid var(--maroon);
        border-radius: 11px;
        outline: none;
        width: 220px;
        height: 20px;
        padding-left: 17px;
        padding-top: 4px;
    }
    #calender{
        position: absolute;
        top: 13.5%;
        left: 50%;
        cursor: pointer;
    }
    ::-webkit-input-placeholder { 
        color: $maroon;
        font-size: 18px;
      }
    #btnWrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 4%;
    }

    #connectInfo-inner {
        width: 418px;
        min-height: 330px;
        border: 2px solid $darkgreen;
        border-radius: 11px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        padding-left: 4%;
    }

    #connectbackgroundOffset {
        width: 434.25px;
        height: 100%;
        border: none;
        border-radius: 11px;
        background-color: $offwhite;
        top: 7px;
        left: 7px;
        position: absolute;
    }

    #todoInfo{
        position: relative;
    }

    #todoAndIcons{
        padding-top: 10%;
        padding-bottom: 6%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .icon{
        cursor: pointer;
    }

    #icons{
        display: flex;
        gap: 20px;
    }

    #todoListTitle{
        font-size: 24px;
        font-weight: bold;
    }

    .circleAndTodo{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        left: 7%;
        padding-top: 5%;
        gap: 5px;
    }

    #todoInfo-inner {
        width: 434.25px;
        height: 182.66px;
        border: 2px solid $darkgreen;
        border-radius: 11px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        padding-top: 4%;
    }

    #todobackgroundOffset {
        width: 434.25px;
        height: 201.66px;;
        border: none;
        border-radius: 11px;
        background-color: $offwhite;
        top: 7px;
        left: 7px;
        position: absolute;
    }
}


