@font-face {
  font-family: "Ovo";
  src: local(Lato), url("./assets/Ovo/Ovo-Regular.ttf") format("truetype"),
    url("https://fonts.googleapis.com/css2?family=Ovo&display=swap");
  font-weight: normal;
}
@font-face {
  font-family: "Quattrocento Sans";
  src: local(Quattrocento), local(Lato-Black),
    url("./assets/Quattrocento_Sans/QuattrocentoSans-Regular.ttf") format("truetype"),
    url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400&display=swap");
  font-weight: normal;
}
@font-face {
  font-family: "Quattrocento Sans";
  src: local(Quattrocento bold), local(Quattrocento-bold),
    url("./assets/Quattrocento_Sans/QuattrocentoSans-Bold.ttf") format("truetype"),
    url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@700&display=swap");
  font-weight: bold;
}

@import "./sass/variables.scss";

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Ovo;
}
.nav-bar{
  position: absolute;
  top: 0;
  width: 320px;
  height: 100%;
  background-color: #C4C4C4;
}

.home-page{
  height: 100%;
  position: absolute;
  right: 0;
  width: calc(100% - 320px);
}

#nonProfitConnections{
  background-color: #C4C4C4;
  border-radius: 10px;
  width: 895px;
  height: 593px;
  position: relative;
  top: 10%;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

#nonProfitConnectionTitle{
  position: relative;
  top: 1%;
  left: 1%;
  align-self: end;
}

#connectPanelWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  gap: 35px;
}

.nonProfitPanel{
  background-color: #9A9A9A;
  width: 820px;
  height: 147px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nonProfitPhoto{
  width: 124px;
  height: 124px;
  margin: 0;
  background-color: white;
  margin-left: 15px;
  border-radius: 10px;
}

.nonProfitInfo{
  position: relative;
  left: 6%;
  height: 90%;
}

.nonProfitStatus{
  position: absolute;
  right: 7%;
  text-align: end;
}
