#girl {
    .cls-1 {
        fill: #7f7d65;
    }
    .cls-2 {
        fill: #636049;
    }
    .cls-3 {
        fill: #8c8a7a;
    }
    .cls-4 {
        isolation: isolate;
    }
    .cls-5 {
        fill: #6d4231;
    }
    .cls-6 {
        fill: #5f7c52;
    }
    .cls-7 {
        fill: #182827;
    }
    .cls-8 {
        fill: #172621;
    }
    .cls-9 {
        fill: #d69f7e;
    }
    .cls-10 {
        fill: #2f443e;
    }
    .cls-11 {
        fill: #a0624b;
    }
    .cls-12 {
        fill: #e6b8a2;
    }
    .cls-13 {
        fill: #db830f;
    }
    .cls-14 {
        fill: #ff686b;
        opacity: 0.5;
    }
    .cls-15 {
        fill: #4b5e58;
    }
    .cls-16 {
        fill: #a5a392;
    }
    .cls-17 {
        fill: #d68954;
    }
    .cls-18 {
        fill: #9b3f27;
    }
    .cls-19 {
        fill: #d6d3c4;
    }
    .cls-20 {
        fill: #efeee8;
    }
    .cls-21 {
        fill: #773824;
    }
}

#logo1{
    .cls-1{fill:#7f7d65;}.cls-2{fill:#51251d;stroke:#51251d;stroke-miterlimit:10;stroke-width:2px;}
}

#logo2{
    .cls-1{fill:#7f7d65;}
}

#logo3{
    .cls-1{fill:#51251d;stroke:#51251d;stroke-miterlimit:10;stroke-width:2px;}
}

#Layer_2{
    .cls-1{isolation:isolate;}.cls-2{fill:#a0624b;}.cls-3,.cls-6{fill:#51251d;}.cls-4{fill:#aa442d;}.cls-5{fill:#773824;}.cls-6{opacity:0.7;}
}

#Layer_3{
    .cls-1{fill:none;}.cls-2{fill:#a0624b;}.cls-3{fill:#51251d;opacity:0.7;}.cls-4{fill:#c6998b;opacity:0.42;}.cls-5{fill:#c67b63;}.cls-6{isolation:isolate;}.cls-7{clip-path:url(#clip-path);}.cls-8{fill:#0e1815;}.cls-9{fill:#0e1714;}.cls-10{fill:#0d1614;}.cls-11{fill:#0d1613;}.cls-12{clip-path:url(#clip-path-2);}.cls-13{fill:#0b1210;}.cls-14{fill:#0b1311;}.cls-15{fill:#0c1411;}.cls-16{fill:#0c1412;}.cls-17{fill:#0d1513;}.cls-18{fill:#0f1916;}.cls-19{fill:#121e1b;}.cls-20{clip-path:url(#clip-path-3);}.cls-21{fill:#9f9e98;}.cls-22{fill:#9a9a93;}.cls-23{fill:#96958f;}.cls-24{fill:#91908a;}.cls-25{clip-path:url(#clip-path-4);}.cls-26{fill:#7a7974;}.cls-27{fill:#7e7e78;}.cls-28{fill:#83827d;}.cls-29{fill:#888781;}.cls-30{fill:#8c8c86;}.cls-31{fill:#a4a39c;}.cls-32{fill:#c9c8c0;}
}

#Layer_4{
    .cls-1{fill:#a0624b;}.cls-2{fill:#182827;}
}
